*{
    margin: 0;
}

.navbar-item-custom, .navbar-item-custom a {
    color:white;
}



.title_order{
    margin-left: 72px;
    font-family: "Poppins", sans-serif;


}

.navbar-dark .navbar-nav .active > .nav-link
{
    display: flex;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
    justify-content: space-between;
    font-weight: 200;
    -webkit-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    transition: all 350ms ease-out;
    position: relative;
    font-family: "Poppins", sans-serif;
}
.navbar .btn {
    padding: 7px 13px;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
    font-weight: 200;
    -webkit-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    transition: all 350ms ease-out;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.btn-user{
    background-color: white;
    border: none
;
}
.icons{
    height: 60px;
    padding: 30%;
}

.bandeau {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #383838;
    height: 40px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    line-height: 33px;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.68);
    font-size: 11px;
    letter-spacing: 1px;
}

.bandeau >p{
    color: white;
    padding-top: 3px;
}

.dropdown-item
{
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    line-height: 33px;
    text-align: center;
    font-weight: 400;
    color: #383838;
    font-size: 11px;
    letter-spacing: 1px;
}



#logo
{
    height: 100px;
    margin-left: 180px;
}
.navbar-expand-md .navbar-nav {
    align-items: center;
    height: 30px;
}

.title_vente{
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.text-center .p-3{
    background-color: #383838;
    line-height: 33px;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.68);
    font-size: 11px;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.social-icons{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.text-white > span{
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 200;

}
.text-center{
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 200;
}

.best_vente{
    margin-bottom: 100px;
}

.news{
    margin-bottom: 200px;

}

.product-item {
    margin-top: 50px ;
}

.product-price{
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline overline #F7CC20;

}
.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: oblique;
}

.product-item .title
{

    font-size: 18px;
}

.img-fluid
{
    margin-bottom: 15px;
}

.show_product
{
    margin-bottom: 200px;
}

.show_product > h3
{
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

.show_product .row
{
    display: flex;
    justify-content: space-around;
}

.menu_mobile {
    background-color: #383838;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.menu_mobile #myLinks {
    display: none;
}

.menu_mobile a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
}

.menu_mobile a.icon {
    float: right;
}

.menu_mobile a:hover {
    background-color: #ddd;
    color: black;
}


.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.col-md-3
{
    color: black;
    font-size: 12px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    text-align: center;

}


.btn-block-filtre
{
    background-color: #F7CC20;
    width: 360px;
    font-size: 14px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    text-transform: uppercase;

}

.cart_class{
    border: 1px solid black;
    background-color: white;
}
.recap_class{
    border: 1px solid black;
    background-color: white;
    margin-top: 16px;
    height: 150px;
}



.table td, .table th{
    border-top: none;
}

.body_class{
    background-color: #fff3f3;
    width: 90%;
    margin-left: 60px;
    margin-bottom: 100px;
    margin-top: 11px;
}

.order_recap{
    margin-top: 20px;
    margin-bottom: 35px;
}

.validate_class{
    font-size: 14px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 150px;
}

.title_best{
    margin-left: 56px;
    font-family: "Poppins", sans-serif;
}

.order_end_summary{
    background-color: #fffcfc ;
    padding: 20px;
    color: black;
    margin-top: 48px;
    border: 1px solid;
}

.order_summary{
    background-color: #fffcfc ;
    padding: 20px;
    color: black;
    margin-top: 70px;
    border: 1px solid;
}


.body_order_class{
    background-color: white;
    width: 90%;
    margin-left: 60px;
    margin-bottom: 100px;
    margin-top: 11px;
}

.order_success
{
    margin-bottom: 100px;
    margin-left: 350px;
    margin-top: 15px;
    border: 1px solid grey;
    width: 800px;

}
#happy_dog{
    width: 300px;
    height: 400px;
}

#info_order{
    font-family: Poppins,sans-serif;
    font-weight: 400;
}

.form_register{
    width: 30%;
    margin-left: 550px;
    text-align: center;
    margin-top: 20px;
}

.form_register > h1{
    font-family: Poppins,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.form_input{
    width: 100%;
    background-color: #F6F7F9;
    border: none;
}

.form_validate{
    background-color: #C1FF3E;
    width: 100%;
    border: none;
    color: #1a3c75;
    font-family: Poppins,sans-serif;
}

#register_birthdate{
    width: 300PX;
    border: none;
    justify-content: space-around;
}

#table_register{
    width: 50%;
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 100px;
}

#bloc_left{
    width: 60%;
    background-image: url("https://images.unsplash.com/photo-1491485880348-85d48a9e5312?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -100px;
}

#bloc_register{
    width: 70%;
    text-align: center;
}
@media screen and (min-width: 640px) {
    .menu_mobile{
        display: none;
    }

}
@media screen and (max-width: 640px) {
    .bandeau{
        display: none;
    }

}