<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}CCAnimals{% endblock %}</title>

    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet"/>
    {%  block javascript%}
    {% endblock %}
</head>
<body>
{% include '_partial/_navbar.html.twig' %}
{% block content %}{% endblock %}


</body>
{% block script %}
{% endblock %}
</html>